.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
    /* text-align: center;
    margin-left: 135px; */
}
.service{
display: flex;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}

textarea {
    resize: vertical;
}

.logo {
    text-align: center;
    padding: 10px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.additional-feature {
    margin-top: 20px;
    font-size: 14px;
}